<div class="menu">
    <div class="p-4">
        <img src="assets/logo.png" alt="profile">
    </div>
    <ul>
        <li class="profile">
            
        </li>
        <li>
            <a class="active" href="#">
                <i class="bi bi-house"></i>
                <p>dashoard</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-people"></i>
                <p>clients</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-table"></i>
                <p>product</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-bar-chart"></i>
                <p>charts</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-pen"></i>
                <p>posts</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-star"></i>
                <p>favorite</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-gear"></i>
                <p>settings</p>
            </a>
        </li>
        

    </ul>
</div>