<div class="menu">
    <div class="p-4">
        <img src="assets/logo.png" alt="profile">
    </div>
    <ul>
        <li class="profile">
            
        </li>
        <li>
            <a class="active" href="#">
                <i class="fas fa-home"></i>
                <p>dashoard</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user-group"></i>
                <p>clients</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-table"></i>
                <p>product</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chart-pie"></i>
                <p>charts</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-pen"></i>
                <p>posts</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-star"></i>
                <p>favorite</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                <p>settings</p>
            </a>
        </li>
        

    </ul>
</div>