<div class="middle">
    <div class="title-info">
        <div id="search-bar">
            <i id="search-icon" class="bi bi-search"></i>
            <input id="search-input" placeholder="Search">
            <i id="mic-icon" class="bi bi-mic"></i>
        </div>
        <select name="lang" id="lang">
            <option value="en">English (US)</option>
            <option value="ar">Arabic (EG)</option>
        </select>
    </div>
    <h2 class="mx-3 pt-5 pb-3">Overview</h2>
    <div class="data-info">
        <div class="box">
            <div class="box-data">
                <div class="data">
                    <p>totla patients</p>
                    <span>401</span>
                </div>
                <i class="bi bi-people-fill bg-danger"></i>
            </div>
            <div class="box-detail">
                <i class="bi bi-arrow-up-circle text-success pb-2"></i>
                <p class="pt-2"><span class="text-success px-1">85% </span> up from last month</p>
            </div>
        </div>
        <div class="box">
            <div class="box-data">
                <div class="data">
                    <p>totla stuff</p>
                    <span>20</span>
                </div>
                <i class="bi bi-person-rolodex bg-success"></i>
            </div>
            <div class="box-detail">
                <i class="bi bi-arrow-up-circle text-success pb-2"></i>
                <p class="pt-2"><span class="text-success px-1">85% </span> up from last month</p>
            </div>
        </div>
        <div class="box">
            <div class="box-data">
                <div class="data">
                    <p>appointments</p>
                    <span>2040</span>
                </div>
                <i class="bi bi-stopwatch bg-warning"></i>
            </div>
            <div class="box-detail">
                <i class="bi bi-arrow-up-circle text-success pb-2"></i>
                <p class="pt-2"><span class="text-success px-1">85% </span> up from last month</p>
            </div>
        </div>

    </div>
    <div class="chart">
        <app-chart></app-chart>
    </div>
    <div class="table">
        <app-table></app-table>
    </div>
</div>