<div class="menu">
    <div class="text-center">
        <img src="assets/profile.jpg" class="align-center" width="60" height="60" alt="">
        <p>Dr. Dilip Anmangandla, MD</p>
        <div class="details">
            <div class="details-box">
                <p class="text-secondary">Appointment</p>
                <h3>4250</h3>
            </div>
            <div class="details-box">
                <p class="text-secondary">Total Patient</p>
                <h3>32.1k</h3>
            </div>
            <div class="details-box">
                <p class="text-secondary">Rate</p>
                <h3>4.8</h3>
            </div>
        </div>
    </div>
    <hr>
    <div class="appointment">
        <div class="d-flex justify-content-between">
            <p>Upcoming Appointment</p>
            <i class="bi bi-three-dots"></i>
        </div>
        <p class="text-primary">July 30, 2022 </p>
        <ul>
            <li>
                <div class="d-flex justify-content-between">
                    <p class="text-secondary">08:30 am - 10:30 am</p>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <p>Nurse Visit 20</p>
                <small class="text-secondary">Dr. Carol D. Pollack-rundle</small>
            </li>
            <hr>
            <li>
                <div class="d-flex justify-content-between">
                    <p class="text-secondary">08:30 am - 10:30 am</p>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <p>Annual Visit 15</p>
                <small class="text-secondary">Dr.	Donald	F.	Watren</small>
            </li>
            <hr>
        </ul>
    </div>

    <p>Patient Satisfaction</p>
    <div style="text-align:center">
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive" [legend]="chartOptions.legend" [dataLabels]="chartOptions.dataLabels"
            [colors]="chartOptions.colors">

        </apx-chart>
    </div>
</div>