<table>
    <thead>
        <tr>
            <th>Patient Nmae</th>
            <th>Date In</th>
            <th>Symptoms</th>
            <th>status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="assets/profile.jpg" width="30px" height="40px" alt="profile">
                Mohamed
            </td>
            <td>Dec 18,2024</td>
            <td>Geriatriciant</td>
            <td><span class="text-success">confirmed</span></td>
            <td class="justify-content-between">
                <i class="bi bi-pen px-3"></i>
                <i class="bi bi-trash3 text-danger"></i>
            </td>
        </tr>
        <tr>
            <td>
                <img src="assets/profile.jpg" width="30px" height="40px" alt="profile">
                Mohamed
            </td>
            <td>Dec 18,2024</td>
            <td>Geriatriciant</td>
            <td><span class="text-warning">incoming</span></td>
            <td>
                <i class="bi bi-pen px-3"></i>
                <i class="bi bi-trash3 text-danger"></i>
            </td>
        </tr>
        <tr>
            <td>
                <img src="assets/profile.jpg" width="30px" height="40px" alt="profile">
                Mohamed
            </td>
            <td>Dec 18,2024</td>
            <td>Geriatriciant</td>
            <td><span class="text-success">confirmed</span></td>
            <td>
                <i class="bi bi-pen px-3"></i>
                <i class="bi bi-trash3 text-danger"></i>
            </td>
        </tr>
        <tr>
            <td>
                <img src="assets/profile.jpg" width="30px" height="40px" alt="profile">
                Mohamed
            </td>
            <td>Dec 18,2024</td>
            <td>Geriatriciant</td>
            <td><span class="text-danger">cancelled</span></td>
            <td>
                <i class="bi bi-pen px-3"></i>
                <i class="bi bi-trash3 text-danger"></i>
            </td>
        </tr>


    </tbody>
</table>